.container-pokemon {
  padding-top: 3em;
  padding-left: 3em;
  max-width: 100%;
  padding-right: 3em;
}

.search-box {
  width: 100%;
}

.search-field {
  box-shadow: black;
  padding-left: 10px;
  height: 48px
}

.search-icon {
  position: relative;
  bottom: 8px;
}

.add-icon {
  position: relative;
  right: 5px;
  bottom: 2px;
}


